<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewEmployees</display-name>
    <servlet-name>ViewEmployees</servlet-name>
    <servlet-class>com.alfonso.servlets.ViewEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployees</servlet-name>
    <url-pattern>/ViewEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMan</display-name>
    <servlet-name>ViewMan</servlet-name>
    <servlet-class>com.alfonso.servlets.ViewMan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMan</servlet-name>
    <url-pattern>/ViewMan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMyInfo</display-name>
    <servlet-name>ViewMyInfo</servlet-name>
    <servlet-class>com.alfonso.servlets.ViewMyInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMyInfo</servlet-name>
    <url-pattern>/ViewInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReq</display-name>
    <servlet-name>ViewReq</servlet-name>
    <servlet-class>com.alfonso.servlets.ViewReq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReq</servlet-name>
    <url-pattern>/ViewReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveDeny</display-name>
    <servlet-name>ApproveDeny</servlet-name>
    <servlet-class>com.alfonso.servlets.ApproveDeny</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveDeny</servlet-name>
    <url-pattern>/ApproveDen</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateMan</display-name>
    <servlet-name>UpdateMan</servlet-name>
    <servlet-class>com.alfonso.servlets.UpdateMan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMan</servlet-name>
    <url-pattern>/UpdateMans</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateEmp</display-name>
    <servlet-name>UpdateEmp</servlet-name>
    <servlet-class>com.alfonso.servlets.UpdateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmp</servlet-name>
    <url-pattern>/UpdateEmp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SubmitReq</display-name>
    <servlet-name>SubmitReq</servlet-name>
    <servlet-class>com.alfonso.servlets.SubmitReq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReq</servlet-name>
    <url-pattern>/SubmitReq</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EmpReq</display-name>
    <servlet-name>EmpReq</servlet-name>
    <servlet-class>com.alfonso.servlets.EmpReq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpReq</servlet-name>
    <url-pattern>/EmpReq</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Requests</display-name>
    <servlet-name>Requests</servlet-name>
    <servlet-class>com.alfonso.servlets.Requests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Requests</servlet-name>
    <url-pattern>/Requests</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ManLog</display-name>
    <servlet-name>ManLog</servlet-name>
    <servlet-class>com.alfonso.servlets.ManLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManLog</servlet-name>
    <url-pattern>/ManLog</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>com.alfonso.servlets.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/EmployeeLog</url-pattern>
  </servlet-mapping>
</web-app>